<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="../css/home.css">
    <div class="ml-0 mr-0">
      <div class="row">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                      class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                  <div class="carousel-item item active">
                      <img src="https://borgenproject.org/wp-content/uploads/ways-natural-disasters-affect-impoverished-countries.jpeg"
                          class="d-block w-100" alt="images">
                  </div>
                  <div class="carousel-item item ">
                      <img src="https://studentbulletin.inverhills.edu/wp-content/uploads/2020/10/disaster.relief-777x437.jpg"
                          class="d-block w-100" alt="images">
                  </div>
                  <div class="carousel-item  item">
                      <img src="https://i.guim.co.uk/img/media/a46cde291cecd31993c1152a057c4099f9fb6875/0_250_5568_3341/master/5568.jpg?width=1200&quality=85&auto=format&fit=max&s=e03f9f1f5c4d04827075c9c2a645cd0c"
                          class="d-block w-100 " alt="">
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
  </div>



  <div class="light-wrapper mt-2 pt-4 px-4">
      <div class=" inner sec-one">
          <div class="headline text-center">
              <h2 class="text-dark">Welcome to DiRe</h2>
              <h2 style="color: #8c8989;">An Initiative for Disaster Relief</h2>
              <br>
              <p class="lead">DiRe is an organisation, providing disaster response &
                  preparedness services across India. As a disaster relief agency, we help people to survive and
                  rebuild their lives through food, medical, education, shelter and livelihood programs. Our most
                  recent interventions in Maharashtra, Karnataka and Assam have impacted thousands of lives!</p>
          </div>
      </div>


      <div class="container mb-3">
          <div class="d-flex justify-content-evenly">
              <div>
                  <img loading="lazy" class="fl-photo-img wp-image-703 size-thumbnail"
                      src="https://worldrelief.org/content/uploads/2020/02/leaf_Artboard41copy-150x150.png"
                      alt="leaf icon" itemprop="image" height="150" width="100%" title="leaf_Artboard+41+copy"
                      srcset="https://worldrelief.org/content/uploads/2020/02/leaf_Artboard41copy-150x150.png 150w, https://worldrelief.org/content/uploads/2020/02/leaf_Artboard41copy.png 300w"
                      sizes="(max-width: 150px) 100vw, 150px">
                  <p>Food & Clean Water</p>
              </div>
              <div>
                  <img loading="lazy" class="fl-photo-img wp-image-671 size-thumbnail"
                      src="https://worldrelief.org/content/uploads/2020/02/RebuildFutures-150x150.png" alt="care icon"
                      itemprop="image" height="150" width="100%" title="RebuildFutures"
                      srcset="https://worldrelief.org/content/uploads/2020/02/RebuildFutures-150x150.png 150w, https://worldrelief.org/content/uploads/2020/02/RebuildFutures.png 250w"
                      sizes="(max-width: 150px) 100vw, 150px">
                  <p>Safe,Reliable Shelter</p>
              </div>
              <div>
                  <img loading="lazy" class="fl-photo-img wp-image-704 size-thumbnail"
                      src="https://worldrelief.org/content/uploads/2020/02/waterspout_Artboard41copy14-150x150.png"
                      alt="waterspout icon" itemprop="image" height="150" width="100%"
                      srcset="https://worldrelief.org/content/uploads/2020/02/waterspout_Artboard41copy14-150x150.png 150w, https://worldrelief.org/content/uploads/2020/02/waterspout_Artboard41copy14.png 300w"
                      sizes="(max-width: 150px) 100vw, 150px" title="waterspout_Artboard+41+copy+14">
                  <p>Sanitation & Hygiene</p>
              </div>
              <div>
                  <img loading="lazy" class="fl-photo-img wp-image-670 size-thumbnail"
                      src="https://worldrelief.org/content/uploads/2020/02/Humanitarian-150x150.png" alt="aid icon"
                      itemprop="image" height="150" width="100%"
                      srcset="https://worldrelief.org/content/uploads/2020/02/Humanitarian-150x150.png 150w, https://worldrelief.org/content/uploads/2020/02/Humanitarian.png 250w"
                      sizes="(max-width: 150px) 100vw, 150px" title="Humanitarian">
                  <p>Emergency Nutrition</p>

              </div>
              <div>
                  <img loading="lazy" class="fl-photo-img wp-image-625 size-thumbnail"
                      src="https://worldrelief.org/content/uploads/2020/02/girl_Artboard41copy11-150x150.png"
                      alt="woman icon" itemprop="image" height="150" width="100%"
                      srcset="https://worldrelief.org/content/uploads/2020/02/girl_Artboard41copy11-150x150.png 150w, https://worldrelief.org/content/uploads/2020/02/girl_Artboard41copy11.png 300w"
                      sizes="(max-width: 150px) 100vw, 150px" title="girl_Artboard+41+copy+11">
                  <p>Psychosocial Support</p>
              </div>
          </div>
      </div>

      <h3 class="title font-weight-light text-dark text-center mb-6  mt-3" id="Reach">Our Reach & Impact
      </h3>
      <section id="statistic" class="statistic-section one-page-section mb-4">
          <div class="container">
              <div class="row text-center">
                  <div class="col-xs-12 col-md-3">
                      <div class="counter">
                          <i class="fa fa-coffee fa-2x stats-icon"></i>
                          <h2 class="timer count-title count-number">34</h2>
                          <div class="stats-line-black"></div>
                          <p class="stats-text">Rescue Operations Executed</p>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3">
                      <div class="counter">
                          <i class="fa fa-code fa-2x stats-icon"></i>
                          <h2 class="timer count-title count-number">466
                          </h2>
                          <div class="stats-line-black"></div>
                          <p class="stats-text">Collabration Projects</p>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3">
                      <div class="counter">
                          <i class="fa fa-clock-o fa-2x stats-icon"></i>
                          <h2 class="timer count-title count-number">6 Lakh +</h2>
                          <div class="stats-line-black"></div>
                          <p class="stats-text">Lives Impacted</p>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3">
                      <div class="counter">
                          <i class="fa fa-laptop fa-2x stats-icon"></i>
                          <h2 class="timer count-title count-number">14</h2>
                          <div class="stats-line-black"></div>
                          <p class="stats-text">Awards & Recognition</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <h3 class="text-center mt-4 mb-4 ">Together, we’re saving lives—before, during and after disaster strikes.
      </h3>
      <div class="container d-flex justify-content-center mt-3 w-150 mb-3">
          <div class="row">
              <div class="col pr-0 mr-0">
                  <div class="card" style="width: 25rem; background-color:rgb(245, 239, 239);">
                      <div class="card-body">
                          <h2 style="text-align: center;">Donate Now</h2>

                          <p style="text-align: center;">Your generosity makes a transformative and lifelong
                              impact. When you give, you’ll join our family of passionate changemakers
                              committed to changing our world.</p>
                          <div class="text-center">
                              <a href="/donate/money" class="btn btn-primary text-center"> Donate </a>

                          </div>

                      </div>
                  </div>
              </div>
              <div class="col">
                  <img src="https://worldrelief.org/content/uploads/2020/02/img-about-hero.jpg" alt="img-about-hero"
                      height="250" width="300"
                      srcset="https://worldrelief.org/content/uploads/2020/02/img-about-hero.jpg 705w, https://worldrelief.org/content/uploads/2020/02/img-about-hero-300x213.jpg 300w"
                      sizes="(max-width: 705px) 100vw, 705px" title="img-about-hero">
              </div>
              <div class="col mt-3">

                  <p>
                      Disaster Risk Reduction
                      We also believe there is an opportunity to reduce suffering by taking a proactive approach to
                      disasters, so we work to reduce communities’ underlying vulnerabilities and build cultures of
                      resilience.
                      We train and mobilize churches and community members to share disaster preparedness messages
                      with neighbors so that when disasters do strike, devastation and loss are significantly reduced.
                  </p>

              </div>


          </div>

      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
