<% layout('layouts/boilerplate')%>
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }

        .home {
            background-color: rgba(0, 0, 0, 0.1);
            /* padding: 1.2%; */
            border: 1.2px solid rgba(0, 0, 0, 0.1);
            padding: 1.5%;
            border-radius: 25px;
        }
    </style>
    <link rel="stylesheet" href="/css/home.js">
    <div class="container light-wrapper  px-4">
        <div class="inner sec-one row">
            <img src="https://vibhavani.com/resources/VibhaVani/Background%20Images/Volunteer1.jpg" alt=""
                class="responsive">


            <div class="d-flex justify-content-center mb-3">
                <h1>VOLUNTEER OPPORTUNITIES</h1>
            </div>
            <div class="home mb-4">
                <div class="border-bottom-0 mx-auto mb-0 text-dark mt-4">
                    <h3 class="mb-3 d-flex justify-content-center">STUDENT VOLUNTEERS</h3>
                    <p class="pb-2 text-dark">DiRe offers a huge range of voluntary work for students. Voluntary work is
                        a great way for
                        students to develop CV, meet new people and help our work to change and save lives. We are
                        constantly
                        looking for committed students who are prepared to give a few hours a week to volunteer with us.
                    </p>
                </div>
            </div>

            <div class="home mb-4">
                <div class="border-bottom-0 mx-auto mb-0 text-dark mt-4">
                    <h3 class="mb-3 d-flex justify-content-center">FUNDRAISING VOLUNTEERS</h3>
                    <p class="pb-2 text-dark">Fundraising volunteers make an important contribution to the work we do
                        with vulnerable
                        people. Volunteers can organise their own event or help at one of our fundraising event. Either
                        way, you
                        are bound to have a fun time and feel good about making a worthwhile contribution to our work.
                    </p>
                </div>
            </div>

            <div class="home mb-4">
                <div class="border-bottom-0 mx-auto mb-0 text-dark mt-4">
                    <h3 class="mb-3 d-flex justify-content-center">RELIEF VOLUNTEERS</h3>
                    <p class="pb-2 text-dark">DiRe is building a network of 5000 committed volunteers for disaster
                        relief and recovery efforts
                        in India. Our nationawide disaster relief volunteers will be engaging in collecting relief
                        materials,
                        managing warehouses, surveying the affected area and distribution of relief materials.</p>
                </div>
            </div>

            <div class="home mb-4">
                <div class="border-bottom-0 mx-auto mb-0 text-dark mt-4">
                    <h3 class="mb-3 d-flex justify-content-center">DIGITAL VOLUNTEERS</h3>
                    <p class="pb-2 text-dark">Be Our Advocate - Use your voice and Help us to spread the word about What
                        We Do through social media,
                        blogging, writing article in local newspaper etc.,</p>
                </div>
            </div>
            <p class="mb-3 d-flex justify-content-center">To volunteer with us, please fill the form and our team will get back to you shortly.</p>
        </div>

    </div>
    <div class="text-center mb-3 d-flex justify-content-center">
        <a href="/volunteer/new" class="btn btn-primary">VOLUNTEER</a>
    </div>